/*
  Button to open form modal
*/

#uploadButton {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
}

/*
    File Input
*/

.file {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
}

.file input {
  min-width: 14rem;
  margin: 0;
  filter: alpha(opacity=0);
  opacity: 0;
}

.customFile {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  border: .075rem solid #ddd;
  border-radius: .25rem;
  box-shadow: inset 0 .2rem .4rem rgba(0, 0, 0, .05);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.customFile:after {
  content: "Choose file...";
}

.customFile:before {
  position: absolute;
  top: -.075rem;
  right: -.075rem;
  bottom: -.075rem;
  z-index: 6;
  display: block;
  content: "Browse";
  height: 2.5rem;
  padding: .5rem 1rem;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: .075rem solid #ddd;
  border-radius: 0 .25rem .25rem 0;
}

.file input:focus~.customFile {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #027ae4;
}

/*
    thumbnails
  */

.gallery {
  padding: 1.1em 1.5em;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  max-width: 100%;
}

.imgContainer {
  padding: 5px 10px !important;
  transform: scale(1);
  transition: 0.5s all ease;
}

a {
  display: flex;
  align-content: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
}

.imgContainer:hover {
  transform: scale(1.05);
}

img {
  height: 100%;
  min-width: 100%;
}