<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>

    <link rel="stylesheet" href="index.css">

    <!-- Boostrap minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <!-- form modal -->
    <button type="button" class="btn btn-primary" id="uploadButton" data-toggle="modal"
        data-target=".bs-example-modal-lg">Upload
        Image</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Upload new image</h3>
                </div>
                <div class="modal-body">
                    <form id="uploadForm" action="/" method="post" enctype="multipart/form-data" accept="image/*" class="form-group d-flex justify-content-center">

                        <label class="file">
                            <input type="file" id="file" name="file" required>
                            <span class="customFile"></span>
                        </label>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secundary" data-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-primary" type="submit" form="uploadForm">Upload</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery content -->
    <div class="gallery">
        <div th:each=" image : ${images}" class="col-xs-6 col-md-3 imgContainer">
            <a th:href="${image}">
                <img th:src="${image}" class="img-fluid img-thumbnail">
            </a>
        </div>
    </div>
</body>

<!-- JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</html>