<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
</head>

<body>
    <form action="/" method="post" enctype="multipart/form-data" accept="image/*">
        <h3>upload new image</h3>
        <input type="file" name="file" required>
        <button type="submit">Upload</button>
    </form>

    <div th:each=" image : ${images}">
        <img th:src="${image}">
    </div>
</body>

</html>