<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar fragment</title>
</head>

<body>
    <nav th:fragment="nav" class="navbar fixed-top navbar-dark bg-dark">
        <div class="container justify-content-between">
        <a class="navbar-brand" href="/">Image Gallery</a>
        <div th:if="${username}" class="nav-item dropdown">
            <a class="btn btn-primary dropdown-toggle d-flex flex-row align-items-center justify-content-between" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-2x"></i>
               <span>[[${username}]]</span> 
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item d-flex flex-row align-items-center justify-content-between" href="/logout"><span>Logout</span>  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </div>
        </div>
          <div th:unless="${username}">
            <a href="/signin" class="btn btn-primary">Sign in</a>
            <a href="/signup" class="btn btn-primary">Sign up</a>
          </div>
        </div>
    </nav>
</body>

</html>