<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="#" th:action="@{/signup}" method="post" th:object="${user}">
        <input type="text" th:field="*{username}">
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}">invaild username</div>
        <input type="text" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">invaild password</div>
        <button type="submit">Sign up</button>
    </form>
</body>
</html>