<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>
<body>
    <form action="/signin" method="post" th:object="${user}">
        <input type="text" th:field="*{username}" placeholder="Username">
        <input type="text" th:field="*{password}" placeholder="Password">
        <button type="submit">Sign in</button>
    </form>
</body>
</html>